@tailwind base;
@tailwind components;
@tailwind utilities;
.landing-bg {
  aspect-ratio: 960x540;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color-scheme: only light;
}
.poly-bg-img {
  background-image: url('./../public/landing-low-poly.svg');
}
.blobg {
  background-image: url('./../public/blob-scene-haikei.svg');
}
.blurg {
  background-image: url('./../public/blurry-gradient-haikei.svg');
}
html, body {
  overflow-x:hidden;
}